<div class="normalShaow" style="padding:20px 0;">
  <div class="formButtonContainer">
    <span style="font-size: 20px;font-weight: bold;color: #8d8d8dd6;">个人信息</span>
    <div style="float:right">
      <button nz-button nzType="primary" style="margin:0 10px;" (click)="clickSave()" [nzLoading]="saveLoading">保存</button>
      <button nz-button (click)="resetForm()">重置</button>
    </div>
  </div>
  <form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="userName" nzRequired>
        <span>用户名</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
        <input nz-input id="userName" formControlName="userName" placeholder="请输入6-16位字符"/>
        <ng-template #errorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            请输入用户名!
          </ng-container>
          <ng-container *ngIf="control.hasError('maxlength')||control.hasError('minlength')">
            请输入6-16位字符!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>密码</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入密码!">
        <input nz-input type="password" id="password" formControlName="password"
               (ngModelChange)="updateConfirmValidator()"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>确认密码</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl2">
        <input nz-input type="password" formControlName="checkPassword" id="checkPassword"/>
        <ng-template #errorTpl2 let-control>
          <ng-container *ngIf="control.hasError('required')">
            请输入密码!
          </ng-container>
          <ng-container *ngIf="control.hasError('confirm')">
            两次输入密码不一致!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="area" nzRequired>中国地区</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请选择地区!">
        <nz-cascader [nzOptions]="dropDownService.chinaArea" formControlName="area" nzShowSearch [nzPlaceHolder]="' '"></nz-cascader>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="address" nzRequired>
        <span>详细地址</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请填写地址">
        <input nz-input id="address" formControlName="address"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>手机</nz-form-label>
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        [nzValidateStatus]="validateForm.controls['phoneNumber']"
        nzErrorTip="请输入电话号码!"
      >
        <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
          <ng-template #addOnBeforeTemplate>
            <nz-select formControlName="phoneNumberPrefix" class="phone-select">
              <nz-option nzLabel="+86" nzValue="+86"></nz-option>
              <nz-option nzLabel="+87" nzValue="+87"></nz-option>
            </nz-select>
          </ng-template>
          <input formControlName="phoneNumber" id="'phoneNumber'" nz-input/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="email">邮箱</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="非法的邮箱地址!">
        <input nz-input formControlName="email" id="email"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="website" >网站</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入网站地址!">
        <input nz-input id="website" formControlName="website" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remark" >备注</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <textarea  nz-input style="min-height: 90px;" id="remark" formControlName="remark" ></textarea >
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
