<div style="width:100%;min-height:52px;" #searchBar>
  <div style="display: inline-block;margin: 0 20px 0 10px;" #buttonGroup>
    <ng-content select="operationButton"></ng-content>
  </div>
  <div style="display: inline-block;width:auto;" #searchArea>
    <ng-content select="searchShowArea"></ng-content>
  </div>
  <div style="display: inline-block;margin-left:20px;width:210px;" #basicButton>
    <button nz-button nzType="primary" (click)="searchEvent.emit(true)">搜索</button>
    <button nz-button (click)="resetEvent.emit(true)" style="margin:0 10px;">重置</button>
    <button nz-button (click)="stretchVisible=!stretchVisible" *ngIf="stretchArea.children.length"
            style="margin:0 10px;">
      <i nz-icon nzType="down" nzTheme="outline" *ngIf="!stretchVisible"></i>
      <i nz-icon nzType="up" nzTheme="outline" *ngIf="stretchVisible"></i>
    </button>
  </div>
</div>

<div #stretchArea  [ngClass]="stretchVisible?'stretchAreaVisible':'stretchAreaHidden'">

</div>


