<ul nz-menu [nzMode]="'inline'" [nzInlineCollapsed]="menuService.isCollapsed" [nzSelectable]="false">
   <ng-container *ngFor="let menuItem of menuService.menuList">
     <li nz-menu-item *ngIf="!menuItem.subMenu;else singleMenuItem" [routerLink]="menuItem.routerLink">
           <span title>
            <i *ngIf="!menuItem.icon;else menuIcon" nz-icon [nzType]="'bars'"></i>
               <ng-template #menuIcon>
                <i nz-icon [nzType]="menuItem.icon"></i>
               </ng-template>
             <span>{{menuItem.menuTitle}}</span>
           </span>
     </li>
     <ng-template #singleMenuItem>
       <li nz-submenu *ngIf="menuItem.subMenu.length">
             <span title>
               <i *ngIf="!menuItem.icon;else menuIcon" nz-icon [nzType]="'bars'"></i>
               <ng-template #menuIcon>
                <i nz-icon [nzType]="menuItem.icon"></i>
               </ng-template>
               <span>{{menuItem.menuTitle}}</span>
             </span>
         <ul>
           <app-menu-list *ngFor="let subMenu of menuItem.subMenu" [menuItem]="subMenu"></app-menu-list>
         </ul>
       </li>
     </ng-template>
   </ng-container>
</ul>

