.searchItemStyle {
  display: inline-block;
  width: auto;
  position: relative;
  margin: 0 20px 10px 0;

  .tinyLabel {
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255);
    color: #b5b5b5;
    top: -15px;
    left: 10px;
    max-width: 84%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    transition: opacity linear 0.2s;
  }
}
