::ng-deep :root{
  --NavigationBarHeight:60px;
  --MenuBarWidth:200px;
}

.mainContainer {
  width: 100%;
  height: calc(100% - var(--NavigationBarHeight));
  overflow: auto
}

.mainPageDisplayArea {
  padding:20px 30px;
  display: inline-block;
  vertical-align: top;
  width: calc(100% - var(--MenuBarWidth));
  height: calc(100% - var(--NavigationBarHeight));
  overflow: auto;
}
